{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 3 versions",
          "ie >= 10",
          "ios >= 9",
          "android >= 4.2"
        ]
      }
    }]
  ],
  "comments": false
}
